{% extends 'entete.html.twig' %}
{% block content %}

<!DOCTYPE html>
    <body>
        {% if is_granted('ROLE_ADMIN') %}
        <h1>Bonjour Admin</h1>

        {% elseif is_granted('ROLE_ENSEIGNANT') %}
        <p>Bonjour Enseignant</p>
        {% else  %}
        <p>Bonjour Etudiant</p>
        {% endif %}

{% endblock %}